/* NavBar */
.navbar {
  background-color: #ffffff;
  padding: 0px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar__logo{
  height: 10%;
  width:10%;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__brand {
  flex: 1;
}

.navbar__links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar__links ul li {
  margin-right: 80px;
}

.navbar__links ul li:last-child {
  margin-right: 80px;
}

.navbar__links ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.navbar__links ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  display: inline-block;
}

.navbar__links ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  transition: transform 0.2s;
}

.navbar__links ul li a:hover {
  transform: scale(1.1);
}





