.service-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .service-info {
    max-width: 600px;
  }
  
  .service-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service-info ul {
    list-style: none;
    padding: 0;
  }
  
  .service-info li {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .service-info span {
    margin-right: 10px;
  }
  
  .service-image img {
    max-width: 100%;
    height: auto;
    margin-right: 6%
  }
  
  @media (min-width: 768px) {
    .service-tracker {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  
    .service-info {
      max-width: 50%;
      padding-right: 7%;
      margin-left: auto; 
    }
  
    .service-image {
      max-width: 40%;
      margin-right: 6%;
    }
  }
