/* Advantages.css */
.advantages-container {
  padding: 40px 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.advantages-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 10px;
  color: #333;
}

.advantages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.advantage {
  flex: 1 0 20%;
  margin: 10px;
}

.circle {
  text-align: center;
  background-color: #124390;
  padding: 20px;
  border-radius: 50%;
  width: 200px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.icon {
  font-size: 2.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.description {
  font-size: 1rem;
  color: white;
}
