/* carservice.css */
.carservice {
    background-color: #124390;
    padding: px 0;
    box-shadow: 0 2px 4px white;
    padding-left: 1.6%;
    padding-top: 0.5%;
  }
  
  .carservice .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .container:hover{
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .carservice__brand {
    flex: 1;
  }
  
  .carservice__link {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600px;
    padding: 10px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .carservice__link:hover {
    background-color: #124390;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  