/* ServiceSteps.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.how-it-works,
.get-assistance {
  flex: 1 1 40%;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.how-it-works h2,
.get-assistance h2 {
  text-align: center;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.step {
  text-align: center;
  margin: 10px;
}

.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-style: dotted;
  transition: transform 0.5s ease,
  box-shadow 0.3s ease;
}
.circle:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.icon {
  font-size: 36px;
  margin-bottom: 5px;
}

.circle p {
  font-size: 16px;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.recaptcha {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.recaptcha input {
  margin-right: 10px;
}

button {
  padding: 10px;
  background-color: #ffab40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffab40;
}
