.service-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.service-info {
  max-width: 600px;
  margin-bottom: 20px;
}

.service-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-info ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.service-info li {
  font-size: 18px;
  margin: 10px 0;
  text-align: left;
}

.service-info span {
  margin-right: 10px;
}

.servicee-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mobile-icon {
  font-size: 150px;
  color: orange;
}

@media (min-width: 768px) {
  .service-tracker {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .service-info {
    max-width: 50%;
    margin-left: 0;
    padding-right: 7%;
    text-align: left;
  }

  .servicee-image {
    max-width: 40%;
    margin-right: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}
